[submodule "prelude/prelude"]
	path = prelude/self-prelude
	url = https://github.com/c00t/buck2-prelude.git
[submodule "third-party/vendor/compio"]
	path = third-party/vendor/compio
	url = https://github.com/c00t/compio.git
[submodule "third-party/vendor/fast-smr"]
	path = third-party/vendor/fast-smr
	url = https://github.com/c00t/fast-smr
[submodule "third-party/vendor/aarc"]
	path = third-party/vendor/aarc
	url = https://github.com/c00t/aarc.git
[submodule "third-party/vendor/trait_cast_rs"]
	path = third-party/vendor/trait_cast_rs
	url = https://github.com/c00t/trait_cast_rs.git
[submodule "third-party/vendor/async-ffi"]
	path = third-party/vendor/async-ffi
	url = https://github.com/c00t/async-ffi.git
[submodule "third-party/vendor/tracing"]
	path = third-party/vendor/tracing
	url = https://github.com/c00t/tracing.git
[submodule "third-party/vendor/circ"]
	path = third-party/vendor/circ
	url = https://github.com/c00t/circ.git
[submodule "third-party/vendor/crossbeam"]
	path = third-party/vendor/crossbeam
	url = https://github.com/c00t/crossbeam.git
[submodule "third-party/vendor/sharded-slab"]
	path = third-party/vendor/sharded-slab
	url = https://github.com/c00t/sharded-slab.git
[submodule "third-party/vendor/thread_local-rs"]
	path = third-party/vendor/thread_local-rs
	url = https://github.com/c00t/thread_local-rs.git
[submodule "third-party/vendor/rust_tracy_client"]
	path = third-party/vendor/rust_tracy_client
	url = https://github.com/c00t/rust_tracy_client.git
[submodule "third-party/vendor/mirror-mirror"]
	path = third-party/vendor/mirror-mirror
	url = https://github.com/c00t/mirror-mirror.git
