[submodule "prelude/buck2-prelude"]
	path = prelude/meta-prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "prelude/prelude"]
	path = prelude/self-prelude
	url = https://github.com/c00t/buck2-prelude.git
